html {
	box-sizing: border-box;
    font-size: 62.5%;  /*1 REM igual a 10px */
    
    
}
*, *:before, *:after {
	box-sizing: inherit;
}


body{

    font-family: 'Raleway', sans-serif;
    font-size: 3 rem;
    line-height: 2;
   

}

.tabla {
    width: 100%;
    border-collapse: collapse; /* Esto evita el doble borde entre celdas */
  }
  
  .tabla th, .tabla td {
    border: 1px solid #ddd; /* Color de borde gris claro */
    padding: 8px; /* Espaciado interno en celdas */
    text-align: left; /* Alineación del texto */
  }
  

  .tabla th {
    background-color: #f4f4f4; /* Color de fondo para encabezados */
  }
  
  .tabla td {
    white-space: nowrap; /* Esto evita el ajuste automático del texto en celdas */
  }
  
  .tabla td {
    text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
    overflow: hidden; /* Oculta el desbordamiento de texto */
  }

  .vigente {
    width: 80px; /* Ajusta este valor según tus necesidades */
    max-width: 120px; /* Opcional: Define un ancho máximo para evitar que sea demasiado grande */
  }
  
  button {
    padding: 5px 10px; /* Ajusta el espacio alrededor del botón */
    background-color: #007bff;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }


  
  button:hover {
    background-color: #0056b3;
    color: white;
  }

  
  .barradebusqueda {

    background-color: #b8d4f1;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1.5rem;
    width: 25%;

  }
  .imagenlogo {
    width: 100px; /* Ajusta el tamaño según lo necesites */
    height: auto; /* Para mantener la proporción */
    border: 2px solid #0056b3; /* Borde de 2 píxeles de ancho, sólido y color azul */
    border-radius: 1rem;
    float: right; /* Para flotar la imagen a la derecha */
    margin-right: 2rem;
}